.yizkor-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
}

.yizkor-card-search {
    text-align: center;
    padding: 30px 0;
    width: 100%;
}

.yizkor-card-search input {
    height: 35px;
    width: 200px;
    border: 0;
    outline: none;
    border-radius: 5px;
    box-shadow:0 0 15px 4px rgba(255, 255, 255, 0.6);
    background-color: rgb(128, 128, 128);
    padding: 5px;
}

.yizkor-card-search input::placeholder{
    color: black;
}