

.menu-link {
    text-decoration: none;
    color: hsla(0, 0%, 63%, 1);
    display: flex;
    justify-content: space-between;

    &:global.active {
        font-weight: bold;
    }
}

.menu-link:hover {
    color: whitesmoke;
}