.sidebar{
    position: fixed;
    width: inherit;
    flex-shrink: 0;
    overflow: auto;
    color: white;
}

.menu-icon {
  padding: 20px;  
  text-align: left;
  background-color: #181818;
}

.menu-items-container {
  padding-top: 150px;
  background-color: #181818;
  height: 100vh;
  padding-right: 15px;
}

.menu-items-container div {
  margin-bottom: 5px;
}

.menu-icon img{
  width: 100px;
  height: 100px;
}

.mobile-close-button {
  background-color: #181818;
}

.mobile-close-button button {
  visibility: hidden; 
}

.mobile-close-menu-icon {
  visibility: hidden; 
}

@media screen and (max-width: 600px) {
 
  .mobile-close-button {
    background-color: #181818;
    text-align: center;    
  }

  .mobile-close-menu-icon {
    width: 50px;
    height: 50px;
    visibility: visible; 
    
  }

  .menu-items-container {
    padding-top: 50px;
  }

}
