.article {
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    box-shadow: 3px 2px 8px 3px rgba(0,0,0,0.2);
    border-radius: 15px;
}

.article-image-container {
    margin: auto;
    width: 70%;
}

.article-image{
    border-radius: 5px;
}

.article img {
    
    height: 50%;
    width: 100%;
}

.article-h1 {
    text-align: center;
    padding: 10px 10px;
}

.article-p {
    text-align: justify;
}

.article-a {
    margin: 0 5px;
}