
.header {
}

.nav-container {
    display: flex;
    justify-content: center;
    width: 85%;
    position: fixed;
    z-index: 5;
}

.image-slider-container {
    padding-top: 74px;
}

.article {
    font-size: large;
    padding: 2rem 3rem;
}

.article p{
    text-align: justify;
}

.gole {
    text-decoration: underline;
}


@media screen and (max-width: 600px) {
    .nav-container {
        width: 100%;
    }
}