.marom-page-container {
    /* position: relative; */
    /* background-color: white; */
    /* background: linear-gradient(-45deg, #000000, #929292, #ffffff); */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%); */
    /* -webkit-clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
    clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
    width:200px;
    height:200px;
    background:#E0E6E5; */
}

.marom-page-container::before {
    /* position: absolute;
    content: '';
    inset: 0;
    left:30%;
    z-index: -1;
    background-color:red;
    clip-path: polygon(
        39% 0,
        100% 0,
        100% 100%,
        0 100%
    ); */
}

.nav-container {
    width: 85%;
    position: fixed;
    z-index: 5;
}

.image-slider-container {
    padding-top: 74px;
}

.section-container {
    position: relative;
    /* background: black; */
    /* background: linear-gradient(-45deg, #000000, #929292, #ffffff); */
    background-color: rgba(128, 128, 128, 0.500);
}

.section-container::before {
    position: absolute;
    content: '';
    inset: 0;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: rgba(255, 0, 0, 0.750);
}

.section {
    display: flex;
    justify-content: center;
    padding: 2rem 3rem 3rem 3rem;
}

.article {
    flex-basis: 90%;
    font-size: large;
    padding: 2rem 0;
    cursor: default;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 2rem;
}

.article p {
    text-align: justify;
}

.gole {
    text-decoration: underline;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 600px) {

    .section {
        padding: 1rem;
    }

    .nav-container {
        width: 100%;
    }

}