
.nav-container {
    width: 85%;
    position: fixed;
    z-index: 5;
}

.image-slider-container {
    padding-top: 74px;
}

.marom-page-content {
    background: linear-gradient(-45deg, #000000, #929292, #ffffff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.section {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.article {
    flex-basis: 90%;
    font-size: large;
    padding: 2rem 0;
    cursor: default;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 2rem;
}

.article p{
    text-align: justify;
}

.gole {
    text-decoration: underline;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 600px) {
    .nav-container {
        width: 100%;
    }

    .about-maraom-title h1 {
        font-size: 3rem;
    }

    .about-maraom-title h3 {
        font-size: 1.5rem;
        line-height: 30px;
    }
}