.info-container {
    background-image: url("../../../assets/oketz/oketz2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
    height: 90%;
}

.info-container img {
    width: 300px;
}