:global(.omer-info-container .info-slide) {
    width: 30%;
}

:global(.omer-info-container .info-image) {
    width: 70%;
}

.info-container {
    height: 90%;
    position: relative;
}

.info-container img {
    width: 100px;
}

@media (max-width: 600px) { 

    :global(.omer-info-container .info-slide) {
        width: 100%;
    }
    
    :global(.omer-info-container .info-image) {
        width: 0;
    }

}
