

.home-page-nav {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #181818;
}

.home-page-nav .menu-link {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.home-page-nav .side-menu {
    color: white;
    visibility: hidden;
}

.home-page-nav div {
    margin: 0 10px;
}

.home-page-nav a {
    color: hsla(0, 0%, 63%, 1);
}

.section {
    min-height: 100vh;
}

.article {
    font-size: large;
    padding: 2rem 3rem;
}

.article h1, .article h2 {
    margin: 1% 0;
    font-size: xx-large;
    font-weight: 900;
}

.article p{
    text-align: justify;
}

.unit-list {
    margin: 0;
    padding: 5px;
    padding-right: 0.5rem;
    list-style-type: none;
}

.unit-list li:hover {
    color: goldenrod;
}

.gole {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .home-page-nav .side-menu{
        visibility: visible;
    }
}