.page-navigation {
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color:#181818;
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.menu {
    margin: auto 0;
    color: white;
    visibility: hidden;
}

.menu-items {
    display: flex;
    margin: auto;
}

.menu-item {
    margin: 0 5px;
}

.menu-item :hover {
    color: white;
}

.menu-item::before {
    content: '';
    display: block;
    border-top: 1px solid white;
    width: 0%;
}

@keyframes top-navigation {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

.page-navigation a {
    
    text-decoration: none;
    text-align: center;
    color: hsla(0, 0%, 63%, 1);

    &:global.active {
        font-weight: bold;
    }
}

@media screen and (min-width: 600px) {
    .menu-item:hover::before {
        animation: top-navigation 0.5s both;
    }
}

@media screen and (max-width: 600px) {
    .menu{
        visibility: visible;
    }
}