.page-navigation {
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color:#181818;
    display: flex;
    justify-content: space-between;
}

.side-menu {
    color: white;
    visibility: hidden;
}

.page-navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: hsla(0, 0%, 63%, 1);

    &:global.active {
        font-weight: bold;
    }
}


@media screen and (max-width: 600px) {
    .side-menu{
        visibility: visible;
    }
}