.main-container {
    display: flex;
    height: inherit;
}

.left-side-menu-open {
    width: 15%;
}

.left-side-menu-close {
    width: 15%;
}

.page-container {
    width: 85%;
}


@media screen and (max-width: 600px) {
    .left-side-menu-close {
        width: 0;
    }

    .left-side-menu-open {
        width: 100%;
        z-index: 10;
        animation: MenuAnimation 0.3s ease-in;
    }

    @keyframes MenuAnimation {
        from {width: 0%;}
        to {width: 100%;}
    }
    
    .page-container{
        width: 100%;
    }
}