.about-maraom-title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 900;
    color:#fff; 
    text-shadow:-1px -1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,1px 1px 0 #000;
}

.commander-page-content p{
    margin: 1%;
}

.signature , .signature p {
    text-align: left;
}

@media screen and (max-width: 600px) {
    .about-maraom-title {
        text-align: center;
    }
}


