.info-container {
    background-image: url("../../../assets/thniha-hatasa/thniha-hatasa1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
    height: 90%;
}