.info-container {
    /* http://drive.google.com/uc?export=view&id=10bmU8Q4TdAY04f4UKQS0DdXndZVTNVnF */
    background-image: url("../../../assets/balnam/balnam1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
}